header h2:hover{
  color: red;
}

header{
  padding: 10px;
}

header h2{
  color: black;
  float: left;
}

header #logo{
  margin-right: 10px;
  width: 50px;
}

header #logout{
  width: 50px;
  float: right;
  cursor: pointer;
  transition-duration: 100ms;
  transition-property: transform;
}

header #logout:hover{
  transform: scale(1.3);
}

section{
  padding: 20px;
  clear: both;
}

#subject{
  font-size: 1.5em;
}

#from{
  font-weight: bold;
}
