<h1 id="app-title">OAuth2 Simple Gmail Client</h1>
<div id="logo-wrapper" (mouseleave)="exitAnimation()" (mouseenter)="enterAnimation()">
  <!--<a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=503256322307-h16k5r5p4otjul26l7sm4lhm2et5488v.apps.googleusercontent.com&response_type=token&scope=https://www.googleapis.com/auth/gmail.readonly&state=suraboy&redirect_uri=http://localhost:4200/dashboard">-->
  <a routerLink="/dashboard">
    <img title="Click to visit OAuth2 Simple Gmail Client" #imgLogo id="logo"
         src="http://www.logospng.com/images/172/gmail-glyph-icon-172435.png" alt="Sura-Boy Simple Gmail Client"></a>
</div>

<section>
  <h3>What is OAuth2 Simple Gmail Client?</h3>
  <p>
    A simple attempt to demonstrate OAuth2 usage with Gmail API.
    <b>This application is only capable of reading user's emails when user authorizes.</b>
    It is a Single Page Application (aka SPA) that has been developed using Angular.
    Since it is a SPA, it uses <b>OAuth2 Implicit Flow Grant Type</b>.
    Furthermore, this project has been developed as an assignment of my MSc's Software Security Module.
    Hope someone finds this helpful someday, cheers...!
  </p>
</section>

<section>
  <h3>Where is the source code?</h3>
  <p>
    You can find the source <a href="https://github.com/Ranjith-Suranga/oauth2-gmail-client">here</a> @ GitHub.
  </p>
</section>

<section>
  <h3>How does this work?</h3>
  <p>
    Answering it basically means how <b>OAuth2 Implicit Flow Grant Type</b> works.
  </p>
</section>

