<h1 id="app-title">OAuth2 Simple Gmail Client</h1>
<div id="logo-wrapper" (mouseleave)="exitAnimation()" (mouseenter)="enterAnimation()">
  <!--<a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=503256322307-h16k5r5p4otjul26l7sm4lhm2et5488v.apps.googleusercontent.com&response_type=token&scope=https://www.googleapis.com/auth/gmail.readonly&state=suraboy&redirect_uri=http://localhost:4200/dashboard">-->
  <a routerLink="/dashboard">
    <img title="Click to visit OAuth2 Simple Gmail Client" #imgLogo id="logo"
         src="http://www.logospng.com/images/172/gmail-glyph-icon-172435.png" alt="Sura-Boy Simple Gmail Client"></a>
</div>

<section>
  <h3>What is OAuth2 Simple Gmail Client?</h3>
  <p>
    A simple attempt to demonstrate OAuth2 usage with Gmail API.
    <b>This application is only capable of reading user's emails when user authorizes.</b>
    It is a Single Page Application (aka SPA) that has been developed using Angular.
    Since it is a SPA, it uses <b>OAuth2 Implicit Flow Grant Type</b>.
    Furthermore, this project has been developed as an assignment of my MSc's Software Security Module.
    Hope someone finds this helpful someday, cheers...!
  </p>
</section>

<section>
  <h3>Where is the source code?</h3>
  <p>
    You can find the source <a href="https://github.com/Ranjith-Suranga/oauth2-gmail-client">here</a> @ GitHub.
  </p>
</section>

<section>
  <h3>How does this work?</h3>
  <p>
    Answering it basically means how <b>OAuth2 Implicit Flow Grant Type</b> works. First of all let's look at the high
    level overview of OAuth2 Implicit Flow Grant Type.
  </p>
  <img id="imgHighLevelOverview" src="../../assets/high-level-overview.png">
  <p>
    When OAuth2 Simple Gmail client wants to access user's Gmail, first it requires user's permission to do that which
    means it requires user's email and the password of Gmail. But the user has no reason to trust us and give their
    login
    credentials. But other way around user trust Gmail. To be honest, we really don't want user login credentials as
    long
    as we have the permission to access his or her Gmail account. So all we need is user's permission to access the
    Gmail.
    That is what we are going to do. This is called <b>Delegated Authorization</b>.
  </p>
  <p>
    First of all we send a HTTP request to Gmail Authorization server with few meta data. This includes three important
    things. <b>Redirect URI</b>, <b>Response Type</b>, <b>Scope</b>. In OAuth2 Implicit Flow Grant Type Response Type
    should be set to <b>Token</b>. This means if user consents to access his or her Gmail,
    we ask to send us an access token which we can later use to access the Resource Server. Because in order to deal with resource server
    we are going to need an access token.
  </p>
  <p>
    <b>Scope</b> is also important. It defines what the client app really requires to access. The main difference between
    Authorization Code grant type and Implicit Flow Grant type is, in Implicit Flow grant type everything happens in the
    front chanel. So it could be less secured. But that is the approach that we have to take when we are dealing with Single
    Page Applications.
  </p>
</section>

<section>
  <h3>Where can I learn more about OAuth2?</h3>
  <a href="https://developers.google.com/identity/choose-auth">Google Identity Platform</a>
  <br>
  <a href="https://aaronparecki.com/oauth-2-simplified/">OAuth 2 Simplified</a>
  <br>
  <a href="https://www.youtube.com/watch?v=996OiexHze0">OAuth2 and OpenID Connect in Plain English</a>
</section>

<div class="clearfix"></div>

