<perfect-scrollbar [style.height]="viewPortHeight">
  <router-outlet></router-outlet>
  <footer>
    MIT License - Copyright &copy; 2019 - D.M.R.Suranga
    <div id="icons-wrapper">
      <a href="https://stackoverflow.com/users/5194057/ranjith-suranga?tab=profile">
        <img src="https://png.pngtree.com/svg/20170507/74c76e6f9d.png"></a>
      <a href="https://github.com/Ranjith-Suranga">
        <img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png"></a>
      <a href="https://coderanch.com/forums/posts/listByUser/298015">
        <img src="https://javaranch.com/images/javaranch-moose-logo.png"></a>
    </div>
  </footer>
</perfect-scrollbar>
