<h1 id="app-title">OAuth2 Simple Gmail Client</h1>
<div id="logo-wrapper" (mouseleave)="exitAnimation()" (mouseenter)="enterAnimation()">
  <a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=503256322307-h16k5r5p4otjul26l7sm4lhm2et5488v.apps.googleusercontent.com&response_type=token&scope=https://www.googleapis.com/auth/gmail.readonly&state=suraboy&redirect_uri=http://localhost:4200/dashboard">
    <img title="Click to visit OAuth2 Simple Gmail Client" #imgLogo id="logo"
          src="http://www.logospng.com/images/172/gmail-glyph-icon-172435.png" alt="Sura-Boy Simple Gmail Client"></a>
</div>
