@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

*{
  font-family: 'Open Sans', sans-serif;
}

.my-loader{
  background-color: red !important;
  width: 10px !important;
  height: 55px !important;
}
